@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mobile {
  display: none;
}

.imgWrapper {
  width: 25vw;
  height: 80vh;
  display: flex;
}

.imgWrapper img {
  position: relative !important;
}

.imgWrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  position: absolute;
  width: 25vw;
  height: 80vh;
  z-index: 100;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
  padding: 3vw;
  text-align: center;
}

.imgInner {
  top: 10vh;
  width: 25vw;
  opacity: 0;
  animation: fadeIn 0.2s ease;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
}

.imprintWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.imprintInner {
  overflow: scroll;
  height: 100vh;
  padding: 30px;
}

.imprintWrapper p {
  max-width: 500px;
  padding-bottom: 20px;
}

.close {
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .imgWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgInner {
    width: 80%;
    height: 80%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    opacity: 1;
    transition: all 0.2s ease;
    padding: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
